.git
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/inertia-devtools
bootstrap/cache/*
.env
.env.backup
.env.production
npm-debug.log
